#LargeHadding{
    font-size: 42px;
    text-align: center;
}

.link{
    text-align: center;
    
}

.movie{
    display: inline-flex;
    color: rgb(107, 165, 204);
}

.letterboxd{
    margin-left: "10px";
}

a{
    color: rgb(209, 107, 107);
}